/* GLOBAL */


    /* Todo o navegador ele tem um limite caracteristico que pode ajudar ou atrapalhar, nesse caso. o sistema identifica que eu tenho um conteúdo de
    100% e estou adicionando mais 16 px a esquerda e direita, logo. Eu tenho 32px + 100% totalizando 132px, "Box Sizing: border-box" - ele vai limitar a porcentagem que eu 
    determinar para aquela operação, logo. se eu digo que é 100%, mesmo adicionando 16px a esquerda e direita, ele não ultrapassará os 100% */

* {
    /* Correção de comportamento padrão do css */
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    /* FONTE */
    font-family: "Roboto", sans-serif;

    /* Background color */
    background-color: #f9f9f9;
}

h1, h2 {
    color: #000000cc;
}

/* TITULOS */
header h1, main h2 {
    margin-bottom: 70px;
}

main h2 span {
    color: #ff4f4f;
}

.form h2 {
    text-align: right;
    color: white;
    font-size: 18px;
}

/* ESTRUTURA */
header, main, footer {
    text-align: center;
}

header, .form, main {
    margin-bottom: 70px;          /* espaçamento com margin */

    
   /* 
    margin: 0 auto 70px auto;  
    
    Quando destacamos só o (margin) estou dizendo q ele vai preencher tanto o meu topo, direito, baixo e esquerdo reespectivamente;
    por isso se deve por a porcentagem de cada margem como dado o exemplo (0, auto, 70px, auto) pois no topo não coloquei
    nenhum criterio, no "margin-bottom" esta em 70 px, meus left and right esta auto/ isso serve para eu diminuir o conteudo 
    das linhas e assim usar menos linhas com mais códigos */

    width: 90%;                 /* limites dos elementos na página */
    max-width: 500px;


    
    margin-left: auto;            
                        /* pq ficou centralizado todo o meu HTML?, margin-left e margin-right diz que, se eu expandir tanto o meu lado 
                        direito como o esquerdo ele continuara pondo margens, mas pq esta centralizado? por causa do Text-align: center */
    margin-right: auto;                   
}

/* HEADER */
header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;

    background-color: #ff4f4f;
    color: white;

    font-weight: bold;
}

.logo{
    width: 150px;
    margin: 70px 0;

}

header p {
    font-size: 14px;
}

/* FORM */
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    grid-gap: 45px;

    background-color: #ff4f4f;
    padding: 16px 64px;

    border-radius: 6px;
}

form input,
form button {
    width: 100%;

    margin-bottom: 4px;                   

    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px; */

    /* Padding(direção) diz quê, eu vou adicionar tamanho para um determinado div ou objeto, dando largura e altura. "top and bottom" - altura tanto para cima quanto baixo
    "left and right" - largura tanto para a direita quanto para a esquerda. também posso agrupar igual foi feito com "margin: 0 auto 70px auto;" sendo Padding (top and bottom)
    e (left and right), segue exemplo abaixo. */

    padding: 8px 16px;

    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px;                 "border-top-left-radius, etc" - serve para limitar um certo lado que quero por, se caso total, usa a mesma ideia anterior
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */

    border-radius: 4px;
    border: 1px #ffffff88 solid;

    /* No border pode se colocar a grossura do contorno da borda, pode se colocar logo em seguida a cor e o formato da linha */

}

form input {
    background-color: transparent;

}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
}

/* MAIN */
main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;

    position: relative;
    justify-content: center;
    
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;

    width: 40px;
    height: 40px;

    position: absolute;

    border-radius: 50%;
    border-top-right-radius: 0;

    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    font-size: 14px;
}

footer {
    margin-top: auto;

    padding: 16px;

    border: 1px solid #eee;
}

/* Funcionalidades com Javascript */

section.form {
    transition: all 300ms;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
} 